# Python
.venv/
__pycache__/
*.py[cod]
*.pyo

# Environment files
.env
**/.env

# IDE
.vscode/
.idea/

# Spark
spark-warehouse/
metastore_db/
derby.log

# Airflow
airflow/logs/
airflow/__pycache__/

# MinIO generated data
storage/

# Spark checkpoints
checkpoints/

# OS
Thumbs.db
.DS_Store

# Pytest
__pycache__/
*.py[cod]
.pytest_cache/

# Build
dist/
build/

# Debug logs
*.log